wheel
setuptools
brotli
click
dash
dash-bootstrap-components
dash-extensions
dash-mantine-components
dash-renderer
dash-table
matplotlib
flask
flask-compress
redis
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
retrying
setuptools
six
Werkzeug
gunicorn
torch
torchvision
torchaudio
transformers
pytorch-lightning
ipymarkup
intervaltree
sacremoses
scikit-learn
datasets
grpcio
h5py
huggingface-hub
joblib
matplotlib
multidict
multiprocess
nltk
oauthlib
opt-einsum
packaging
Pillow
PyYAML
sentencepiece
termcolor
tf-slim
tokenizers


